Repository bem/themekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
  "*.{js,ts}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown"
  ],
  "*.json": [
    "prettier --write --parser json"
  ]
}

fix: use custom flatten instead native for old node
  src/cli/build.ts
  src/core/load-sources.ts
  src/core/utils.ts
Due: prettier --write, eslint --fix

chore: add ts-node for dev
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: release 1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

docs: update required node version shield
  README.md
Due: prettier --write --parser markdown

docs: fix anchor link for platforms
  README.md
Due: prettier --write --parser markdown

chore: add normalize-path for deps
  package.json
  src/modules.d.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: use normalize for glob paths
  src/core/load-sources.ts
  src/core/load-theme.ts
  src/core/mappers.ts
  src/core/utils.ts
Due: prettier --write, eslint --fix

chore: release 1.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: update typings for StyleDictionaryApi
  src/modules.d.ts
Due: prettier --write, eslint --fix

feat: use css vars for aliases
  src/core/build.ts
  src/core/replace-alias-to-variable.ts
  src/core/utils.ts
Due: prettier --write, eslint --fix

chore: update examples
  examples/simple/themes/default/root.css
  examples/simple/tokens/components.tokens.yml
  examples/whitepaper/themes/default/desktop/color.css
  examples/whitepaper/themes/default/touch/color.css
  examples/whitepaper/tokens/components.tokens.yml
Due: none

docs: add format section in readme
  README.md
Due: prettier --write --parser markdown

chore: release 1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: move transforms to exports type
  src/modules.d.ts
Due: prettier --write, eslint --fix

fix: use transforms for vars with mapping
  src/core/build.ts
  src/core/replace-alias-to-variable.ts
Due: prettier --write, eslint --fix

chore: update examples
  examples/mappings/themekit.config.json
  examples/mappings/themes/default/root.css
  examples/mappings/tokens/components.tokens.yml
Due: prettier --write --parser json

chore: release 1.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: add website infra
  .eslintignore
  website/.gitignore
  website/README.md
  website/babel.config.js
  website/blog/2020-08-04-welcome.md
  website/docs/doc1.md
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/src/css/custom.css
  website/src/pages/index.js
  website/src/pages/styles.module.css
  website/static/img/favicon.ico
  website/static/img/logo.svg
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: update favicon and logo
  website/static/img/favicon.ico
  website/static/img/logo.svg
Due: none

chore: add inverse logo
  website/static/img/logo_inverse.svg
Due: none

chore: use prism themes
  website/docusaurus.config.js
  website/package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: use custom primary color
  website/src/css/custom.css
Due: none

chore: add base docs
  website/docs/actions/process-color.mdx
  website/docs/doc1.md
  website/docs/extends.mdx
  website/docs/filters/whitepaper-color.mdx
  website/docs/filters/whitepaper-root.mdx
  website/docs/formats/css-variables.mdx
  website/docs/formats/css-whitepaper.mdx
  website/docs/glossary.mdx
  website/docs/installation.mdx
  website/docs/platforms.mdx
  website/docs/theme.mdx
  website/docs/token.mdx
  website/docs/transforms/name-cti-constant.mdx
  website/docs/transforms/name-cti-kebab.mdx
  website/docs/transforms/name-mapper.mdx
  website/sidebars.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown

chore: add docs
  website/docs/filters/whitepaper-color.mdx
  website/docs/filters/whitepaper-root.mdx
  website/docs/formats/css-whitepaper.mdx
  website/docs/introduction.mdx
  website/docs/theme.mdx
  website/sidebars.js
Due: prettier --write, eslint --fix

chore: update website config
  website/docusaurus.config.js
Due: prettier --write, eslint --fix

chore: update @typescript-eslint/parser to 2.34.0
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: supports platform with entry for selector setting
  src/core/build.ts
Due: prettier --write, eslint --fix

chore: release 1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix: replace placeholders with global flag
  src/core/build.ts
  src/core/enhance-whitepaper-config.ts
  src/core/style-dictionary-config.ts
Due: prettier --write, eslint --fix

refactor: rename store to context
  src/core/build.ts
Due: prettier --write, eslint --fix

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

chore: provide this for formatters in typings
  src/modules.d.ts
Due: prettier --write, eslint --fix

refactor: use context from this in formatters
  src/core/build.ts
  src/core/style-dictionary-config.ts
Due: prettier --write, eslint --fix

chore: fix simple example
  examples/simple/themekit.config.json
Due: prettier --write --parser json

docs: update open sources docs
  AUTHORS
  CONTRIBUTING.md
  LICENSE
Due: prettier --write --parser markdown

chore: stripInternal from public API
  tsconfig.json
Due: prettier --write --parser json

chore: add example with custom register
  examples/register/package.json
  examples/register/themekit.config.js
  examples/register/themes/default.theme.json
  examples/register/themes/default/root.css
  examples/register/tokens/color.tokens.yml
  examples/register/tokens/components.tokens.yml
  examples/register/tokens/typo.tokens.yml
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: export public API for register own plugins
  src/core/build.ts
  src/index.ts
Due: prettier --write, eslint --fix
