Repository bem/themekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

feat: add parseContent function from themebox
  src/core/parseContent.ts
Due: prettier --write, eslint --fix

chore: init lerna monorepo
  lerna.json
  package-lock.json
  package.json
  packages/cli/package.json
  packages/core/package.json
Due: prettier --write --parser json

chore: remove no-use-before-define rule from eslint
  .eslintrc
Due: none

chore: add src for units
  jest.config.js
Due: prettier --write, eslint --fix

wip
  package.json
  packages/cli/bin/themekit
  packages/cli/jest.config.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/build.ts
  packages/cli/src/legacy/platforms.ts
  packages/cli/src/modules.d.ts
  packages/cli/src/utils/__tests__/config-loader.test.ts
  packages/cli/src/utils/__tests__/fixtures/tokens.json
  packages/cli/src/utils/__tests__/fixtures/tokens.yaml
  packages/cli/src/utils/__tests__/fixtures/tokens.yml
  packages/cli/src/utils/__tests__/index.test.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/config-loader.ts
  packages/cli/src/utils/file-reader.ts
  packages/cli/src/utils/glob.ts
  packages/cli/src/utils/logger.ts
  packages/cli/src/utils/mapper-loader.ts
  packages/cli/src/utils/package-resolver.ts
  packages/cli/src/utils/path-resolver.ts
  packages/cli/src/utils/source-loader.ts
  packages/cli/src/utils/theme-loader.ts
  packages/cli/src/utils/watcher.ts
  packages/cli/tsconfig.json
  packages/cli/tsconfig.prod.json
  packages/core/package.json
  src/cli/build.ts
  src/modules.d.ts
  todo.md
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

wip
  examples/platforms/themekit.config.json
  examples/platforms/themes/default.theme.json
  examples/platforms/themes/default/root.css
  examples/simple/themekit.config.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/build.ts
  packages/cli/src/utils/command.ts
  packages/cli/src/utils/config-loader.ts
  packages/cli/src/utils/errors.ts
  packages/cli/src/utils/file-reader.ts
  packages/cli/src/utils/glob.ts
  packages/cli/src/utils/source-loader.ts
  packages/cli/src/utils/theme-loader.ts
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/builtins/css-variables-format.ts
  packages/core/src/index.ts
  packages/core/src/parsers/json-parser.ts
  packages/core/src/parsers/yaml-parser.ts
  todo.md
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: update infra
  .eslintrc
  jest.config.js
  lerna.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser json

ci: add lerna boostrap
  .github/workflows/ci.yml
Due: none

chore(core): update deps
  packages/core/package-lock.json
  packages/core/package.json
Due: prettier --write --parser json

chore(cli): update deps
  packages/cli/package-lock.json
  packages/cli/package.json
Due: prettier --write --parser json

feat: add dedupe for tokens
  packages/core/src/compiler/__tests__/tokens-compiler.test.ts
  packages/core/src/compiler/dedupe.ts
  packages/core/src/compiler/tokenizer.ts
  packages/core/src/compiler/tokens-compiler.ts
  packages/core/src/internal/observer.ts
Due: prettier --write, eslint --fix

chore(core): release 0.0.1-alpha.2
  packages/core/package.json
Due: prettier --write --parser json

chore(cli): release 2.0.0-alpha.1
  packages/cli/package.json
Due: prettier --write --parser json

feat: add reset function for observer
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/internal/__tests__/observer.test.ts
  packages/core/src/internal/observer.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: setTokens in observer
  packages/core/src/internal/observer.ts
Due: prettier --write, eslint --fix

test: setTokens
  packages/core/src/internal/__tests__/fixtures/simple.ts
  packages/core/src/internal/__tests__/observer.test.ts
Due: prettier --write, eslint --fix

chore: package-lock
  package-lock.json
  packages/core/package.json
Due: prettier --write --parser json

chore: add @oclif/errors to dependencies
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: remove author
  package.json
Due: prettier --write --parser json

chore: release 1.6.8
  package.json
Due: prettier --write --parser json

Path conditions:
  prettier --write: any of: *.{js,ts}
  eslint --fix: any of: *.{js,ts}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
