Repository bem/themekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

docs: remove legacy format css/whitepaper
  README.md
Due: prettier --write --parser markdown

docs: add readme for examples
  examples/README.md
Due: prettier --write --parser markdown

chore: update theme for website
  website/src/css/custom.css
Due: none

chore: use yandex metrika for website
  website/docusaurus.config.js
Due: prettier --write, eslint --fix

chore: impl plugin yandex metika for docusaurus
  website/plugins/yandex-metrika.js
Due: prettier --write, eslint --fix

chore: remove useless stmt
  src/core/config.ts
Due: prettier --write, eslint --fix

chore: actions type should be array
  src/modules.d.ts
Due: prettier --write, eslint --fix

feat: impl presets registration
  src/core/style-dictionary-config.ts
  src/index.h.ts
  src/index.ts
  src/modules.d.ts
Due: prettier --write, eslint --fix

feat: register css preset
  src/core/build.ts
Due: prettier --write, eslint --fix

chore: add example with preset
  examples/presets/package.json
  examples/presets/themekit.config.json
  examples/presets/themes/default.theme.json
  examples/presets/themes/default/root.css
  examples/presets/tokens/color.tokens.yml
  examples/presets/tokens/components.tokens.yml
  examples/presets/tokens/typo.tokens.yml
Due: prettier --write --parser json

docs: add docs for presets
  website/docs/presets.mdx
  website/sidebars.js
Due: prettier --write, eslint --fix

chore: update register example with preset
  examples/register/themekit.config.js
Due: prettier --write, eslint --fix

chore: correct typo yandexMetika -> yandexMetrika
  website/docusaurus.config.js
  website/plugins/yandex-metrika.js
Due: prettier --write, eslint --fix

chore: rename tech for tests
  .eslintrc
  jest.config.js
Due: prettier --write, eslint --fix

chore: add type for Prop
  src/index.h.ts
Due: prettier --write, eslint --fix

refactor: rewrite variablesWithPrefix with types
  src/core/build.ts
  src/core/variable-with-prefix.ts
  src/core/variablesWithPrefix.ts
Due: prettier --write, eslint --fix

test: add unit for variablesWithPrefix
  tests/variablesWithPrefix.test.ts
Due: prettier --write, eslint --fix

wip
  examples/register/themekit.config.js
  package.json
  src/core/build.ts
  src/core/deprecate.ts
  src/core/style-dictionary-config.ts
  src/index.ts
  src/internal.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: add fixture for extends
  tests/fixtures/external-global-extend/.gitignore
  tests/fixtures/external-global-extend/node_modules/module-a/a.theme.json
  tests/fixtures/external-global-extend/node_modules/module-a/package.json
  tests/fixtures/external-global-extend/node_modules/module-b/b.theme.json
  tests/fixtures/external-global-extend/node_modules/module-b/package.json
  tests/fixtures/external-global-extend/package.json
  tests/fixtures/external-global-extend/src/a.theme.json
  tests/fixtures/external-local-extend/.gitignore
  tests/fixtures/external-local-extend/node_modules/module-a/package.json
  tests/fixtures/external-local-extend/node_modules/module-a/src/a.theme.json
  tests/fixtures/external-local-extend/node_modules/module-a/src/b.theme.json
  tests/fixtures/external-local-extend/package.json
  tests/fixtures/external-local-extend/src/a.theme.json
  tests/fixtures/missing-extend/a.theme.json
  tests/fixtures/missing-extend/package.json
  tests/fixtures/platforms-extend/package.json
  tests/fixtures/platforms-extend/src/a.theme.json
  tests/fixtures/platforms-extend/src/b.theme.json
  tests/fixtures/simple/a.theme.json
  tests/fixtures/simple/package.json
Due: prettier --write --parser json

chore: update jest deps
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: fix resolving nested themes
  src/cli/build.ts
  src/core/build.ts
  src/core/load-theme.ts
  src/core/loadTheme.ts
  src/core/utils.ts
  src/findPackageRoot.ts
  src/resolveFrom.ts
Due: prettier --write, eslint --fix

test: add unit for loadTheme
  tests/loadTheme.test.ts
Due: prettier --write, eslint --fix

build: use es2019 target for ts
  tsconfig.json
Due: prettier --write --parser json

chore: release 1.6.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix: fix broken sources
  src/core/utils.ts
Due: prettier --write, eslint --fix

chore: release 1.6.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix: always resolve pkg root for loadTheme
  src/core/loadTheme.ts
Due: prettier --write, eslint --fix

chore: release 1.6.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: added version to package.json for each example
  examples/color-processing/package.json
  examples/extends/package.json
  examples/mappings/package.json
  examples/platforms/package.json
  examples/presets/package.json
  examples/register/package.json
  examples/simple/package.json
  examples/whitepaper/package.json
Due: prettier --write --parser json

fix: linter errors
  src/vendors/style-dictionary/index.js
Due: prettier --write, eslint --fix

fix: build:manifest works correctly
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: зафиксировал версии
  package.json
Due: prettier --write --parser json

feat: style dictionary only returns the built values, the themekit is responsible for building files
  src/cli/build.ts
  src/core/build.ts
  src/core/buildFile.ts
  src/core/buildFiles.ts
  src/vendors/style-dictionary/index.d.ts
  src/vendors/style-dictionary/lib/buildAllPlatforms.js
  src/vendors/style-dictionary/lib/buildPlatform.js
Due: prettier --write, eslint --fix

feat: actions are performed not in StyleDictionary and cannot work with the file system
  src/cli/build.ts
  src/core/build.ts
  src/core/perfomActions.ts
  src/core/types.ts
  src/core/utils.ts
Due: prettier --write, eslint --fix

feat: file system related things are run only on node env
  src/core/yaml-interop.ts
  src/vendors/style-dictionary/lib/buildFile.js
  src/vendors/style-dictionary/lib/cleanDir.js
  src/vendors/style-dictionary/lib/cleanFile.js
  src/vendors/style-dictionary/lib/common/actions.js
  src/vendors/style-dictionary/lib/common/formats.js
  src/vendors/style-dictionary/lib/extend.js
  src/vendors/style-dictionary/lib/utils/combineJSON.js
Due: prettier --write, eslint --fix

feat: types refactoring
  src/core/enhance-whitepaper-config.ts
  src/core/mappers.ts
  src/core/types.ts
  src/vendors/style-dictionary/index.d.ts
Due: prettier --write, eslint --fix

feat: register format and transform from themebox, refactor build function
  src/core/build.ts
  src/core/style-dictionary-config.ts
Due: prettier --write, eslint --fix

feat: move data loading to separate function
  src/cli/build.ts
  src/core/loadData.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts}
  eslint --fix: any of: *.{js,ts}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
