Repository bem/themekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: update deps
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: add autoload config with js, json and yml ext
  src/cli/build.ts
  src/core/config.ts
Due: prettier --write, eslint --fix

docs: update readme with usage
  README.md
Due: prettier --write --parser markdown

chore: remove config path from examples
  examples/register/package.json
Due: prettier --write --parser json

feat: add flags for selected builds
  src/cli/build.ts
  src/core/config.ts
Due: prettier --write, eslint --fix

chore: add util for deprecate
  package-lock.json
  package.json
  src/core/deprecate.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: deprecate css/whitepaper format
  src/core/build.ts
Due: prettier --write, eslint --fix

docs: add migration guide for css/whitepaper
  docs/migrations/0077.md
Due: prettier --write --parser markdown

chore: update examples with whitepaper
  examples/whitepaper/themekit.config.json
  examples/whitepaper/themes/default.theme.json
Due: prettier --write --parser json

chore: remove no-console from eslint
  .eslintrc
Due: none

fix: close watcher after kill process
  src/cli/build.ts
Due: prettier --write, eslint --fix

perf: replace throttle to debounce for watcher cb
  src/cli/build.ts
  src/core/utils.ts
Due: prettier --write, eslint --fix

fix: save sources order after glob
  src/core/load-theme.ts
Due: prettier --write, eslint --fix

chore: release 1.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix: find correct package root
  package-lock.json
  package.json
  src/core/load-theme.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: release 1.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix: dont remove common platform from css selector
  src/core/build.ts
Due: prettier --write, eslint --fix

chore: release 1.6.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: init backend-repl package
  repl/repl-backend/.gitignore
  repl/repl-backend/package-lock.json
  repl/repl-backend/package.json
  repl/repl-backend/vercel.json
Due: prettier --write --parser json

feat: impl build lambda
  repl/repl-backend/api/build.ts
Due: prettier --write, eslint --fix

docs: fix readme issues
  README.md
Due: prettier --write --parser markdown

chore: add changelog links
  website/docusaurus.config.js
Due: prettier --write, eslint --fix

Deploy website - based on 787e6cc53b028b1392d532df0cb558e80b7e2b8f
  404.html
  blog/index.html
  blog/tags/index.html
  blog/tags/theme/index.html
  blog/welcome/index.html
  c4f5d8e4.0992881e.js
  c4f5d8e4.61115aa2.js
  docs/actions/process-color/index.html
  docs/extends/index.html
  docs/filters/whitepaper-color/index.html
  docs/filters/whitepaper-root/index.html
  docs/formats/css-variables/index.html
  docs/formats/css-whitepaper/index.html
  docs/glossary/index.html
  docs/index.html
  docs/introduction/index.html
  docs/platforms/index.html
  docs/theme/index.html
  docs/token/index.html
  docs/transforms/name-cti-constant/index.html
  docs/transforms/name-cti-kebab/index.html
  docs/transforms/name-mapper/index.html
  index.html
  main.63ef0591.js
  main.86f8ba7f.js
  main.86f8ba7f.js.LICENSE.txt
  runtime~main.3f47ccec.js
  runtime~main.f37c55be.js
Due: prettier --write, eslint --fix

wip
  arkit.svg
  repl/repl-backend/.vercel/README.txt
  repl/repl-backend/.vercel/project.json
  repl/src/App.tsx
  repl/src/Editor/Editor.tsx
  src/core/build.ts
  src/core/config.ts
  src/core/import-module.ts
  src/core/index.ts
  src/core/repl.ts
  src/core/theme-layers.ts
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: impl repl page
  website/.gitignore
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/features/repl/Container/Container.js
  website/src/features/repl/Container/Container.module.css
  website/src/features/repl/Container/index.js
  website/src/features/repl/Editor/Editor.css
  website/src/features/repl/Editor/Editor.js
  website/src/features/repl/Editor/index.js
  website/src/features/repl/api.js
  website/src/features/repl/index.js
  website/src/features/repl/lib/request.js
  website/src/features/repl/lib/yamlToJson.js
  website/src/pages/repl.js
Due: prettier --write, eslint --fix, prettier --write --parser json

wip
  examples/virtual-simple/index.js
  examples/virtual-simple/package-lock.json
  examples/virtual-simple/package.json
  examples/virtual-simple/themekit.config.json
  repl/repl-backend/api/build.ts
  repl/repl-backend/global.d.ts
  src/core/load-sources.ts
  src/core/load-theme.ts
  website/docusaurus.config.js
  website/src/features/repl/Container/Container.js
  website/src/features/repl/api.js
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: order variables by asc
  examples/color-processing/themes/default/root.css
  examples/extends/themes/legacy/root.css
  examples/mappings/themes/default/root.css
  examples/platforms/themes/default/desktop/root.css
  examples/platforms/themes/default/touch/root.css
  examples/simple/themes/default/root.css
  examples/whitepaper/themes/default/desktop/color.css
  examples/whitepaper/themes/default/desktop/root.css
  examples/whitepaper/themes/default/touch/color.css
  examples/whitepaper/themes/default/touch/root.css
  src/core/variable-with-prefix.ts
Due: prettier --write, eslint --fix

feat: add --check option
  package-lock.json
  package.json
  src/cli/build.ts
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser json

fixup! feat: add --check option
  package-lock.json
  package.json
  src/cli/build.ts
  src/core/utils.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fixup! fixup! feat: add --check option
  src/cli/build.ts
Due: prettier --write, eslint --fix

fix: wrap build to try-catch
  src/cli/build.ts
Due: prettier --write, eslint --fix

fix: throw custom YamlParseError while yaml parse
  src/core/yaml-interop.ts
Due: prettier --write, eslint --fix

chore: add @babel/code-frame to deps
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: add jsdoc for yaml-interop
  src/core/yaml-interop.ts
Due: prettier --write, eslint --fix

chore: release 1.6.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: add newline before error message
  src/cli/build.ts
Due: prettier --write, eslint --fix

fix: use normalize for glob path
  src/core/config.ts
Due: prettier --write, eslint --fix

chore: release 1.6.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: move project to bem org
  CHANGELOG.md
  LICENSE
  README.md
  package.json
  src/core/build.ts
  website/docusaurus.config.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

Path conditions:
  prettier --write: any of: *.{js,ts}
  eslint --fix: any of: *.{js,ts}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
