Repository bem/themekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
  "*.{js,ts}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown"
  ],
  "*.json": [
    "prettier --write --parser json"
  ]
}

docs: update readme
  README.md
Due: prettier --write --parser markdown

fix: fix build dir for css.flat and js.esm format
  src/core/formats.ts
Due: prettier --write, eslint --fix

chore: add examples
  examples/css-flat/build/desktop/index.css
  examples/css-flat/color.tokens.ts
  examples/css-flat/space.tokens.ts
  examples/css-flat/themekit.config.js
  examples/css-whitepaper/color.tokens.ts
  examples/css-whitepaper/color.tokens/desktop/index.css
  examples/css-whitepaper/space.tokens.ts
  examples/css-whitepaper/space.tokens/desktop/index.css
  examples/css-whitepaper/themekit.config.js
  examples/js-esm/build/desktop/index.js
  examples/js-esm/color.tokens.ts
  examples/js-esm/space.tokens.ts
  examples/js-esm/themekit.config.js
  examples/json-whitepaper/color.tokens.ts
  examples/json-whitepaper/color.tokens/desktop/index.json
  examples/json-whitepaper/space.tokens.ts
  examples/json-whitepaper/space.tokens/desktop/index.json
  examples/json-whitepaper/themekit.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: remove old fixtures
  __fixtures__/project-a/color-default.ts
  __fixtures__/project-a/space-default.ts
  __fixtures__/project-a/theme.config.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: fix examples
  examples/css-flat/color.tokens.ts
  examples/css-flat/space.tokens.ts
  examples/css-whitepaper/color.tokens.ts
  examples/css-whitepaper/color.tokens/desktop/index.css
  examples/css-whitepaper/space.tokens.ts
  examples/js-esm/color.tokens.ts
  examples/js-esm/space.tokens.ts
  examples/json-whitepaper/color.tokens.ts
  examples/json-whitepaper/space.tokens.ts
Due: prettier --write, eslint --fix

docs: update readme with examples
  README.md
Due: prettier --write --parser markdown

chore: update examples
  examples/css-flat/color.tokens.ts
  examples/css-flat/space.tokens.ts
  examples/css-whitepaper/space.tokens.ts
  examples/extends/build/desktop/index.css
  examples/extends/external/themes/space.tokens.ts
  examples/extends/space.tokens.ts
  examples/extends/themekit.config.js
  examples/js-esm/color.tokens.ts
  examples/js-esm/space.tokens.ts
  examples/json-whitepaper/space.tokens.ts
Due: prettier --write, eslint --fix

ci: add commitlint
  tools/commitlint.js
Due: prettier --write, eslint --fix

ci: add github workflows
  .github/workflows/ci.yml
Due: none

chore: exclude examples for eslint
  .eslintignore
Due: none

docs: fix description for cli
  README.md
Due: prettier --write --parser markdown

fix: add flags and command descripion
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: add description with keywords
  package.json
Due: prettier --write --parser json

chore: remove oclif manifest from git
  .gitignore
  oclif.manifest.json
Due: prettier --write --parser json

chore: build oclif manifest at prepare
  package.json
Due: prettier --write --parser json

fix: return string from color transform
  src/core/transforms.ts
Due: prettier --write, eslint --fix

fix: fix types
  src/core/import-module.ts
  src/core/theme-layers.ts
  src/core/utils.ts
Due: prettier --write, eslint --fix

fix: cast token to string
  src/core/flat-tokens.ts
  src/core/types.ts
Due: prettier --write, eslint --fix

docs: fix readme interface
  README.md
Due: prettier --write --parser markdown

wip
  src/core/config.ts
Due: prettier --write, eslint --fix

chore: add jest deps
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: fix eslint for unit files
  .eslintrc
Due: none

chore: init jest config
  jest.config.js
Due: prettier --write, eslint --fix

test: adddunit for flat-tokens
  src/core/__tests__/flat-tokens.unit.ts
  src/core/flat-tokens.ts
Due: prettier --write, eslint --fix

test: add unit for templates
  src/core/__tests__/templates.unit.ts
Due: prettier --write, eslint --fix

fix: use default value for options
  src/core/formats.ts
Due: prettier --write, eslint --fix

test: add unit for formats
  src/core/__tests__/formats.unit.ts
Due: prettier --write, eslint --fix

refactor: move withPrefix to utils
  src/core/flat-tokens.ts
  src/core/transforms.ts
  src/core/utils.ts
  src/core/with-prefix.ts
Due: prettier --write, eslint --fix

ci: use 12 version of node
  .github/workflows/ci.yml
Due: none

ci: run unit at ci
  .github/workflows/ci.yml
  package.json
Due: prettier --write --parser json

chore: fix prepare script
  package.json
Due: prettier --write --parser json

feat: throw error if module return invalid format
  src/core/import-module.ts
  src/core/theme-layers.ts
  src/core/utils.ts
Due: prettier --write, eslint --fix

chore: remove todo
  src/core/import-module.ts
Due: prettier --write, eslint --fix

fix: add new line at end for json template
  src/core/templates.ts
Due: prettier --write, eslint --fix

chore: update json-whitepaper example
  examples/json-whitepaper/color.tokens/desktop/index.json
  examples/json-whitepaper/space.tokens/desktop/index.json
Due: prettier --write --parser json

chore: update unit snapshots
  src/core/__tests__/formats.unit.ts
  src/core/__tests__/templates.unit.ts
Due: prettier --write, eslint --fix

docs: add github issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/rfc.md
Due: prettier --write --parser markdown

docs: update labels for templates
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/rfc.md
Due: prettier --write --parser markdown

fix: use common generic type for extended theme
  src/index.ts
Due: prettier --write, eslint --fix

chore: init repl project
  repl/.env
  repl/.gitignore
  repl/package-lock.json
  repl/package.json
  repl/public/index.html
  repl/src/App.tsx
  repl/src/index.css
  repl/src/index.tsx
  repl/src/react-app-env.d.ts
  repl/tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser json
