Repository bem/themekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
  "*.{js,ts}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown"
  ],
  "*.json": [
    "prettier --write --parser json"
  ]
}

chore: merge old and new core
  src/cli/build.ts
  src/core-v2/utils.ts
  src/core/build.ts
  src/core/dedupe-props.ts
  src/core/load-sources.ts
  src/core/load-theme.ts
  src/core/mappers.ts
  src/core/style-dictionary-config.ts
  src/core/utils.ts
  src/core/variable-with-prefix.ts
  src/core/yaml-interop.ts
Due: prettier --write, eslint --fix

chore: update build description
  src/cli/build.ts
Due: prettier --write, eslint --fix

docs: update readme
  README.md
Due: prettier --write --parser markdown

fix: add dual sort fo idempotent result
  src/core/load-sources.ts
Due: prettier --write, eslint --fix

chore: skip unit if not found
  jest.config.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: add types for config
  src/core/build.ts
  src/core/config.ts
Due: prettier --write, eslint --fix

chore: update sd typings
  src/modules.d.ts
Due: prettier --write, eslint --fix

fix: run process color for every ext
  src/core/build.ts
Due: prettier --write, eslint --fix

feat: use new format for config
  src/core/build.ts
  src/core/config.ts
  src/core/style-dictionary-config.ts
Due: prettier --write, eslint --fix

chore: update examples configs
  examples/extends/themekit.config.json
  examples/mappings/themekit.config.json
  examples/platforms/themekit.config.json
  examples/simple/themekit.config.json
Due: prettier --write --parser json

chore: release 1.0.0
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: add meta info for package
  package.json
Due: prettier --write --parser json

chore: add chokidar for deps
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: add watch mode
  src/cli/build.ts
  src/core/utils.ts
Due: prettier --write, eslint --fix

chore: release 1.1.0
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: fix sources order with extends
  src/core/load-sources.ts
  src/core/load-theme.ts
Due: prettier --write, eslint --fix

refactor: use sd config inline
  src/core/build.ts
Due: prettier --write, eslint --fix

fix: use sort for idempotent result
  src/core/load-sources.ts
Due: prettier --write, eslint --fix

refactor: remove type-cast
  src/core/load-sources.ts
Due: prettier --write, eslint --fix

chore: add conventional changelog
  .npmrc
  package-lock.json
  package.json
Due: prettier --write --parser json

docs: add changelog
  CHANGELOG.md
Due: prettier --write --parser markdown

fix: use flat sources for watcher
  src/cli/build.ts
Due: prettier --write, eslint --fix

chore: release 1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: add typings for sd filter
  src/modules.d.ts
Due: prettier --write, eslint --fix

feat: impl wp color and root filters
  src/core/build.ts
  src/core/utils.ts
Due: prettier --write, eslint --fix

chore: remove comment
  src/core/build.ts
Due: prettier --write, eslint --fix

fix: support transparent color
  src/core/utils.ts
Due: prettier --write, eslint --fix

chore: release 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix: use group capture for color regexp
  src/core/utils.ts
Due: prettier --write, eslint --fix

chore: release 1.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat: add yaTypography/rem transformer
  src/core/build.ts
  src/modules.d.ts
Due: prettier --write, eslint --fix

chore: add pkg-dir in deps
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: use pkg-dir for resolve package root
  src/core/load-theme.ts
Due: prettier --write, eslint --fix

chore: release 1.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: use Record type for whitepaper
  src/core/load-theme.ts
Due: prettier --write, eslint --fix

feat: use platform placeholder for wp config
  src/core/build.ts
  src/core/enhance-whitepaper-config.ts
Due: prettier --write, eslint --fix

chore: release 1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

docs: update readme with usage and examples
  README.md
Due: prettier --write --parser markdown

chore: add nvmrc
  .nvmrc
Due: none
