Repository bem/themekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: turnoff open browser at startt
  repl/.env
Due: none

chore: impl base repl ui
  repl/package-lock.json
  repl/package.json
  repl/src/App.css
  repl/src/App.tsx
  repl/src/Editor/Editor.css
  repl/src/Editor/Editor.tsx
  repl/src/Tabs/Tabs.css
  repl/src/Tabs/Tabs.tsx
  repl/src/presets.ts
  repl/src/utils.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: impl code executing
  repl/src/execute-code.ts
Due: prettier --write, eslint --fix

chore: release 0.0.0-alpha.3
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: add style-dictionary in deps
  package-lock.json
  package.json
Due: prettier --write --parser json

refactor: use require instead dynamic import
  src/core/config.ts
Due: prettier --write, eslint --fix

chore: add typings for style-dictionary
  src/modules.d.ts
Due: prettier --write, eslint --fix

feat: use style-dictionary as core build
  src/cli/build.ts
  src/core-v2/build.ts
  src/core-v2/whitepaper-config.ts
Due: prettier --write, eslint --fix

feat: add whitepaper format for config
  src/core-v2/utils.ts
  src/core-v2/whitepaper-config.ts
Due: prettier --write, eslint --fix

feat: add whitepaper format for files
  src/core-v2/build.ts
  src/core-v2/variable-with-prefix.ts
Due: prettier --write, eslint --fix

chore: add typings for registerTransform
  src/modules.d.ts
Due: prettier --write, eslint --fix

feat: add mapper for token names
  src/core-v2/build.ts
  src/core-v2/mappers.ts
  src/core-v2/whitepaper-config.ts
Due: prettier --write, eslint --fix

fix: remove excess whitespaces
  src/core-v2/build.ts
Due: prettier --write, eslint --fix

feat: add yaml interop for require
  package-lock.json
  package.json
  src/core-v2/build.ts
  src/core-v2/yaml-interop.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: use array for whitepaper keys
  src/core-v2/whitepaper-config.ts
Due: prettier --write, eslint --fix

feat: add yaml ext for mappers
  src/core-v2/mappers.ts
Due: prettier --write, eslint --fix

fix: use array type for loadMappers
  src/core-v2/mappers.ts
Due: prettier --write, eslint --fix

feat: add themes config
  src/core-v2/build.ts
  src/core-v2/themes.ts
Due: prettier --write, eslint --fix

feat: add process color functions
  src/core-v2/build.ts
  src/core-v2/whitepaper-config.ts
  src/modules.d.ts
Due: prettier --write, eslint --fix

feat: use whitepaper selectors from config
  src/core-v2/build.ts
  src/core-v2/themes.ts
  src/core-v2/utils.ts
Due: prettier --write, eslint --fix

chore: add todo comment
  src/core-v2/build.ts
Due: prettier --write, eslint --fix

fix: suppress extended error while yml parse
  src/core-v2/yaml-interop.ts
Due: prettier --write, eslint --fix

refactor: use include instead source for sd config
  src/core-v2/whitepaper-config.ts
Due: prettier --write, eslint --fix

chore: add types for props
  src/modules.d.ts
Due: prettier --write, eslint --fix

feat: add deduplicate props
  src/core-v2/build.ts
  src/core-v2/dedupe-props.ts
Due: prettier --write, eslint --fix

refactor: rename config factory
  src/core-v2/style-dictionary-config.ts
Due: prettier --write, eslint --fix

feat: support sources as single string
  src/core-v2/themes.ts
Due: prettier --write, eslint --fix

feat: use new config format
  src/core-v2/build.ts
Due: prettier --write, eslint --fix

feat: sort sources by levels
  src/core-v2/build.ts
  src/core-v2/load-sources.ts
  src/core-v2/themes.ts
  src/core-v2/utils.ts
Due: prettier --write, eslint --fix

feat: impl extends theme config
  src/core-v2/build.ts
  src/core-v2/load-theme.ts
  src/core-v2/themes.ts
Due: prettier --write, eslint --fix

feat: impl multiply platforms for one theme
  src/core-v2/build.ts
  src/core-v2/load-theme.ts
  src/core-v2/style-dictionary-config.ts
  src/core-v2/utils.ts
Due: prettier --write, eslint --fix

docs: update readme
  README.md
Due: prettier --write --parser markdown

feat: use json ext as default for config
  src/cli/build.ts
Due: prettier --write, eslint --fix

feat: use whitepaper from config
  src/core-v2/build.ts
  src/core-v2/style-dictionary-config.ts
Due: prettier --write, eslint --fix

fix: delete platforms from extends theme
  src/core-v2/load-theme.ts
Due: prettier --write, eslint --fix

refactor: use throwError as fn
  src/core-v2/load-theme.ts
Due: prettier --write, eslint --fix

chore: remove legacy deps
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: remove legacy core
  src/core/__tests__/flat-tokens.unit.ts
  src/core/__tests__/formats.unit.ts
  src/core/__tests__/templates.unit.ts
  src/core/build.ts
  src/core/flat-tokens.ts
  src/core/formats.ts
  src/core/import-module.ts
  src/core/templates.ts
  src/core/theme-layers.ts
  src/core/transforms.ts
  src/core/types.ts
  src/core/utils.ts
  src/index.ts
  src/modules.d.ts
Due: prettier --write, eslint --fix

chore: update package keywords
  package.json
Due: prettier --write --parser json

Path conditions:
  prettier --write: any of: *.{js,ts}
  eslint --fix: any of: *.{js,ts}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
